.el-card__header {
  padding: 0 !important;
}

.el-collapse.option-collapse {
  .el-collapse-item {
    .el-collapse-item__header {
      user-select: none;
      display: flex;
      align-items: center;
      position: sticky;
      height: 30px;

      .el-collapse-item__arrow {
        order: -1;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

.barcode-type-tooltip {
  width: 300px;
}

.setting-dialog {
  border-radius: 8px !important;
  overflow: hidden;

  .el-dialog__header {
    display: none;
  }

  .el-dialog__body {
    padding: 0 !important;
  }
}

.preview-dialog {
  .el-dialog__body {
    padding: 0;
  }

  .el-dialog__header {
    display: none;
  }
}


// crop
.crop-point {
  background-color: var(--drag-h-color) !important;
}
