/**
* 数黑体
 */

@font-face {
  font-family: 'AlimamaShuHeiTi-Boldr';
  src: url('../assets/fonts/AlimamaShuHeiTi-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'AlimamaFangYuanTiVF-Thin';
  src: url('../assets/fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2-variations');
  font-display: swap;
}