@font-face {
  font-family: "iconfont-color"; /* Project id 4272312 */
  /* Color fonts */
  src:
       url('../assets/fonts/iconfont-color.woff2?t=1696341118895') format('woff2');
}

.iconfont-color {
  font-family: "iconfont-color" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-color-watermark:before {
  content: "\e6c5";
}

.icon-color-container:before {
  content: "\e619";
}

.icon-color-page_num:before {
  content: "\e618";
}

.icon-color-textedit:before {
  content: "\e60d";
}

.icon-color-crossrange_solidline:before {
  content: "\e60e";
}

.icon-color-page:before {
  content: "\e60f";
}

.icon-color-page_header:before {
  content: "\e610";
}

.icon-color-page_footer:before {
  content: "\e611";
}

.icon-color-vertical_solidline:before {
  content: "\e612";
}

.icon-color-crossrange_dottedline:before {
  content: "\e613";
}

.icon-color-vertical_dottedline:before {
  content: "\e614";
}

.icon-color-img:before {
  content: "\e615";
}

.icon-color-text-time:before {
  content: "\e616";
}

.icon-color-paging:before {
  content: "\e617";
}

