.module-list-filter {
  margin-top: 5px;

  .module-list-filter-add {
    margin-left: 5px;
    padding: 6px !important;

    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

//.module-list-tree>.el-tree-node>.el-tree-node__content {
//  background-color: #cfcfcf !important;
//}

.module-list-tree {
  max-width: 600px;
  flex: 1;
  background: transparent !important;

  .el-tree-node__content {

  }

  .el-tree-node__children {
    .is-current {
      color: var(--drag-h-color) !important;

      .el-tree-node__content {
        border-radius: 6px;
        //background-color: green !important;
        background-color: var(--drag-h-lb-color) !important;
      }

    }
  }


  //.el-tree-node {
  //  .el-tree-node__children {
  //    .el-tree--highlight-current {
  //      .is-current {
  //        .el-tree-node__content {
  //          background-color: green !important;
  //
  //        }
  //      }
  //    }
  //  }
  //}


  .module_item {
    width: 100%;
    height: 100%;
    position: relative;

    .module-item_lock {
      position: absolute;
      top: 0;
      left: -35px;
      width: 0;
      height: 0;
      border-top: 17px solid transparent; /* 左侧三角形边框 */
      border-right: 17px solid transparent; /* 左侧三角形边框 */
      border-left: 17px solid transparent; /* 左侧三角形边框 */
      border-bottom: 17px solid red; /* 下侧透明三角形边框 */
      color: white;
      text-align: center;
      transform: rotate(-45deg);
      transform-origin: 0 0;
      font-weight: bold;
      z-index: 10; /* 确保标记位于其他内容上方 */

      .el-icon {
        position: absolute;
        left: -5px;
        top: 5px;
        //transform: rotate(45deg); /* 旋转元素 */
      }
    }

    .module_item-title {
      flex: 1;
      align-items: center;
    }

    .module_item-more {
      padding-right: 7px;
      padding-left: 7px;
      height: 100%;
      justify-items: center;
      align-items: center;
    }
  }

  .el-tree-node__content {
    height: 40px;
  }
}

.module_item-popper {
  padding: 6px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  .popover-menu_item {
    height: 30px;
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;

    &:hover {
      background: var(--drag-h-color);
      color: white;
    }
  }

  .popover-menu_item_disabled {
    cursor: not-allowed;

    &:hover {
      background: var(--drag-h-lb-color);
      color: var(--drag-h-color);
    }
  }
}

.add_module_group_wrapper {
  margin-top: 30px;
}

.table_link {
  margin-left: 5px;
  margin-right: 5px;
}

.main_left_version {
  height: 20px;
  display: flex;
  justify-content: center;
}
