:root {
  //--drag-h-color: #646cff;
}

.demo-container {
  height: 100%;
}

.demo-design-panel {
  height: 100vh;
}

.filed-setting_wrapper {
  height: 100%;

  .filed-setting_content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 75px);

    .filed-setting_content_table {
      margin-left: 15px;
      width: 100%;
    }
  }

  .filed-setting_field_body {

  }

  .filed-setting_field_item {

  }

  .filed-setting_field_footer {
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
  }
}

.choose-image {
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;

  border: 1px dashed var(--my-border-color);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border-color: var(--my-color-primary);
  }
}

.display-image {
  position: relative;
  width: 100px;
  height: 100px;

  .display-image_img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .display-image_remove {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    right: -6px;
    top: -6px;
    border-radius: 12px;
  }
}

@mixin field-table {
  .hidden-expand-icon {
    .el-table__expand-icon {
      visibility: hidden;
    }
  }
}

.field-table {
  @include field-table;

  .inner_table {
    margin-left: 40px;
    width: calc(100% - 40px);

    @include field-table;

  }
}

.module-right_main {
  padding: 0 !important;
  //height: calc(100% - 60px);

  .module-header {
    height: 40px;
    //background: gray;
    padding: 0 10px;
    align-items: center;

    .module-header_title {
      flex: 1;
    }

    .el-button {
      padding: 8px 8px !important;
    }

  }

  .module-list-scrollbar {
    height: calc(100% - 102px) !important;
    //width: calc(100% - 20px);
    padding: 10px;

    .module-list-empty {
      height: 100%;
      padding: 200px;
    }

    .module-list {
      gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      display: grid;

      .module-item_card {
        //height: 190px;
        //width: 260px;
        //min-width: 240px;

        .el-card__body {
          padding: 0 !important;
          position: relative;

          .module-item_card_lock {
            position: absolute;
            top: 10px;
            left: -40px;
            width: 120px;
            height: 20px;
            background-color: red;
            color: white;
            text-align: center;
            line-height: 20px;
            transform: rotate(-45deg); /* 旋转元素 */
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
            font-weight: bold;
            z-index: 10; /* 确保标记位于其他内容上方 */

            //.el-icon {
            //  transform: rotate(45deg); /* 旋转元素 */
            //}
          }

          .module-item_card_cover {
            width: 100%;
            aspect-ratio: 260 / 160;
            //height: 160px;
          }

          .module-item_card_tool {
            width: 100%;
            height: 40px;
            background-color: rgb(246, 246, 246);
            align-items: center;

            .module-item_card_tool_template_title {
              font-size: 14px;
              flex: 1;
              align-items: center;
              padding-left: 4px;
            }

            .module-item_card_tool_edit {
              width: 25px;
              height: 25px;
              margin-right: 5px;
              border: 1px solid #888888;
              border-radius: 5px;

              &:hover {
                border: 1px solid var(--drag-h-color);
                color: #535bf2 !important;
              }

              //.el-link:hover {
              //}
            }

            .el-button {
              padding: 8px 8px !important;
            }
          }
        }
      }
    }
  }


  .module-page_wrapper {
    height: 40px;
    //background: gray;

    .el-pagination__sizes {
      margin-left: 6px;

      .el-select--default {
        width: 80px !important;

        .el-select__wrapper {
          padding: 4px 4px !important;
        }
      }
    }

    .el-pagination__jump {
      margin-left: 58px;

      .el-pagination__goto {
        display: none;
      }
    }

  }


}



