.custom-input-number .el-input__wrapper {
  padding: 0 !important;
}

.cp-input-unit__wrapper {
  height: 100%;
  width: 30px !important;
  padding: 0 !important;
  text-align: center;

  border-top-right-radius: var(--el-border-radius-base);
  border-bottom-right-radius: var(--el-border-radius-base);
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
  color: var(--el-color-info);
  background-color: var(--el-fill-color-light);
}
