.ruleHighlight {
  background: var(--drag-h-color);
  opacity: 0.2;
}

.cp-element-wrapper {
  will-change: transform;
  position: absolute;
  box-sizing: border-box;
  //z-index: 9999;

  &:before {
    z-index: -1;
    position: absolute;
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

.design-activate {
  //z-index: 1;

  &:before {
    border: dashed 1px var(--drag-h-color);
  }
}

.design-activate-edit {
  //z-index: 1;

  &:before {
    border: dashed 1px var(--drag-edit-border-color);
  }
}


.design-inactive {

  &:before {
    border: dashed 1px var(--dnb-highlight-color);
  }
}

.desgin-remove {
  padding: 0;
  appearance: none;
  border: 0;
  //color: black;
  font-weight: bold;
  color: red;
}

.cp-table-resize {
  width: 9px;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: col-resize;

  &:before {
    position: absolute;
    top: inherit;
    left: 4px;
    background: transparent !important;
    content: ' ';
    width: 1px;
    height: 100%;
  }

  &:hover::before {
    box-shadow: -1px 0 0 0 red, 1px 0 0 0 red !important;
    background-color: red !important;
  }
}

.cp-table-highlight-column {
  position: absolute;
  top: 0;
  border: 3px solid var(--tcolor);
}

.cp-table-highlight-sort {
  position: absolute;
  top: 0;
  left: 20px;
  width: 3px;
  height: 100%;
  background: #0ec300 !important;
}

.cp-table-clone-drag {
  position: absolute;
  cursor: move;
}

.cp-table-control-head-point {
  position: absolute;
  cursor: move;
  top: -10px;
  width: 20px;
  height: 20px;
  visibility: hidden;
  background: white !important;
}

.cp-table-control-head-point-active {
  visibility: visible;
  background: green !important;
}
