.group-container {
  display: flex;
}

.group-container > :not(:last-child) {
  margin-right: -1px;
  border-right-width: 1px;
}

.group-container > :not(:first-child) {
}

.group-container > :not(:last-child).my-button,
.group-container > :not(:last-child) .my-input__wrapper,
.group-container > :not(:last-child) .my-select__wrapper {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.group-container > :not(:last-child).my-input-unit__wrapper {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.group-container .is-focus {
  z-index: 2;
}

.group-container > :not(:first-child).my-button,
.group-container > :not(:first-child) .my-input__wrapper,
.group-container > :not(:first-child) .my-select__wrapper {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.group-container > :not(:first-child).setting-wh-lock {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
