.custom-input-number .el-input__wrapper {
  padding: 0 !important;
}

.my-input-unit__wrapper {
  height: 100%;
  width: 30px !important;
  padding: 0 !important;
  text-align: center;

  border-top-right-radius: var(--my-border-radius-base);
  border-bottom-right-radius: var(--my-border-radius-base);
  box-shadow: 0 0 0 1px var(--my-border-color) inset;
  color: var(--my-color-info);
  background-color: var(--my-fill-color-light);
}
