.m-slider {
  display: inline-block;
  height: 4px;
  position: relative;
  z-index: 9;
  touch-action: none; // 禁用元素上的所有手势,使用自己的拖动和缩放api
  .u-slider-rail {
    // 灰色未选择滑动条背景色
    position: absolute;
    z-index: 99;
    height: 4px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .u-slider-track {
    // 蓝色已选择滑动条背景色
    position: absolute;
    z-index: 99;
    background: #4995ff8a;
    border-radius: 4px;
    height: 4px;
    cursor: pointer;
    transition: background 0.3s;
    pointer-events: none;
  }

  .trackTransition {
    transition: left 0.2s,
    width 0.2s,
    background 0.3s;
  }

  &:hover {
    .u-slider-rail {
      // 灰色未选择滑动条背景色
      background: #e3e3e3;
    }

    .u-slider-track {
      // 蓝色已选择滑动条背景色
      background: #1677ff;
    }
  }

  .m-slider-handle {
    // 滑块
    position: absolute;
    z-index: 999;
    width: 14px;
    height: 14px;
    top: 50%;
    background: #fff;
    border: 2px solid rgba(73, 149, 255, .54);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: width 0.3s,
    height 0.3s,
    border-color 0.3s,
    border-width 0.3s,
    transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

    .m-handle-tooltip {
      position: relative;
      display: inline-block;
      padding: 6px 8px;
      font-size: 14px;
      color: #fff;
      line-height: 20px;
      text-align: center;
      min-width: 32px;
      border-radius: 6px;
      transform: translate(-50%, -50%) scale(0.8);
      top: -32px;
      left: 50%;
      background: rgba(0, 0, 0, 0.85);
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 9px 28px 8px rgba(0, 0, 0, 0.05);
      pointer-events: none;
      user-select: none;
      outline: none;
      opacity: 0;
      transition: transform 0.25s cubic-bezier(0.78, 0.14, 0.15, 0.86),
      opacity 0.25s cubic-bezier(0.78, 0.14, 0.15, 0.86);

      .m-arrow {
        position: absolute;
        z-index: 9;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(100%) rotate(180deg);
        display: block;
        pointer-events: none;
        width: 16px;
        height: 16px;
        overflow: hidden;

        &::before {
          position: absolute;
          bottom: 0;
          inset-inline-start: 0;
          width: 16px;
          height: 8px;
          background-color: rgba(0, 0, 0, 0.85);
          clip-path: path(
                          'M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z'
          );
          content: '';
        }

        &::after {
          position: absolute;
          width: 8.970562748477143px;
          height: 8.970562748477143px;
          bottom: 0;
          inset-inline: 0;
          margin: auto;
          border-radius: 0 0 2px 0;
          transform: translateY(50%) rotate(-135deg);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
          z-index: 0;
          background: transparent;
          content: '';
        }
      }
    }

    //.hover-focus-handle {
    //    width: 20px;
    //    height: 20px;
    //    border-width: 4px;
    //    border-color: @themeColor;
    //}
    //
    //&:hover,
    &:focus {
      //width: 20px;
      //height: 20px;
      //border-width: 4px;
      //border-color: #1677ff;
    }

    .show-handle-tooltip {
      pointer-events: auto;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }

    &:hover {
      //.m-handle-tooltip {
      //    .show-handle-tooltip
      //
      //();
      //}
    }
  }

  .handleTransition {
    transition: left 0.2s;
  }
}

.disabled {
  .u-slider-rail {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.06);
  }

  .u-slider-track {
    background: rgba(0, 0, 0, 0.25);
  }

  .m-slider-handle {
    border-color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;

    &:hover {
      width: 14px;
      height: 14px;
      border-width: 2px;
      border-color: rgba(0, 0, 0, 0.25);
    }

    &:focus {
      width: 14px;
      height: 14px;
      border-width: 2px;
      border-color: rgba(0, 0, 0, 0.25);
    }
  }

  &:hover {
    .u-slider-rail {
      background: rgba(0, 0, 0, 0.06);
    }

    .u-slider-track {
      background: rgba(0, 0, 0, 0.25);
    }
  }
}
