.design-content_over {
  z-index: 1;
  outline: 4px solid var(--drag-h-color);
}

.design-content {
  position: relative;
  background: white;
  box-shadow: 5px 10px 15px 5px rgba(0, 21, 41, 0.08);
}

.design-content-bg {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(0, 0, 0, .1)), color-stop(3%, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(3%, rgba(0, 0, 0, .1)), color-stop(3%, transparent));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .1) 3%, transparent 0), linear-gradient(1turn, rgba(0, 0, 0, .1) 3%, transparent 0);
  background-size: 5mm 5mm;
  background-position: 0 0;
}

.cp-print-history {

}


.posts {
  position: absolute;
  width: 1px;
  height: 100px;
  background: black;
}

.selectRect {
  z-index: 99999;
  overflow: hidden;
  outline: 1px solid slateblue;
  position: absolute;
}
