.preview-panel {
  width: 100%;
  position: absolute;
  display: flex;
  height: 100%;

  .preview-panel__scrollbar {
    flex: 1;
    width: calc(100% - 320px);
    height: auto;
    background: rgb(96, 99, 104);
  }

  .preview-panel__model {
    margin: 10px;
  }

  .preview-page-top {
    margin: 10px 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, .32)
  }

  .preview-panel__tool {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(41, 42, 45);
    min-width: 260px;
    max-width: 260px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    .preview-panel__tool_button {
      margin-top: 8px;
    }
  }
}
