@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

// 文本
.cp-print-text_container {
  width: 100%;
  height: 100%;
  display: flex;
  //word-break: break-all;
  outline: 0;
  box-sizing: border-box;

  vertical-align: top;
  word-break: break-all;
  flex-grow: 1;
}

//.cp-print-text_label {
//  //tmp
//  color: white;
//  vertical-align: top;
//  //word-break: break-all;
//  box-sizing: border-box;
//  outline: 0;
//  min-width: 0;
//}

.cp-print-text_content {
  vertical-align: top;
  word-break: break-all;
  box-sizing: border-box;
  //tmp
  //color: white;
  outline: 0;
  flex-grow: 1;
}

// 横线
.cp-horizontal-line__wrapper {
  word-break: break-all;
  cursor: move;
  outline: none;
}

.cp-horizontal-line {
  //background: black;
  position: absolute;
}

// 矩形
.cp-rect__wrapper {
  word-break: break-all;
  border: 1px #000 solid;
  box-sizing: border-box;
  position: absolute;
  left: -1px;
  top: -1px;
  cursor: text;
}

.cp-dotted-rect__wrapper {
  word-break: break-all;
  outline: #000 dotted;
  position: absolute;
  cursor: text;
}

// 表格
.cp-print-table {
  text-indent: initial;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  word-break: break-all;
  cursor: text;
  display: table;
  outline: none;
}

.cp-print-columnHead {
  position: relative;
  word-break: break-all;
  text-align: center;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0;
}

.cp-print-columnHead__content {
  height: 100%;
}

.cp-print-container {
  width: var(--design-width);
  max-width: var(--design-width);
  height: var(--design-height);
  max-height: var(--design-height);
}

.cp-print-table-column_body {
  word-break: break-all;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.cp-print-container_over {
  z-index: 1;
  opacity: 0.6;
  background: var(--page-header-drop-color);
  outline: 4px solid var(--drag-h-color);
}

.cp-print-preview-wrap {
  position: absolute;
}

.cp-print-preview-wrap_container {
}

.cp-print-preview-panel__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cp-print-preview-panel__content {
  position: relative;
}

.cp-print-preview-panel__content_page {
  position: relative;
  overflow: hidden;
  background: white;
}

.cp-print-draw_panel {
  width: 100%;
  height: 100%;
}
