.toolbar-container {
  height: var(--header-height);
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background: #F6F7F8;

  .toolbar-tool {
    justify-content: center;
  }
}

.my-group {
  height: 40px;
  display: flex;
  align-items: center;

  .my-style-item {
    line-height: 16px;
    padding: 4px;
    margin-right: 6px;
  }
}

.font-color {
  margin-right: 6px;

  &:hover:not(.my-icon-disabled) {
    background: var(--tool-style-highlight-bg);
  }
}

.my-color-downList-arrow {
  margin-left: -4px;
  line-height: 16px;
}

.group-font {
  width: 200px;
}

.my-color-icon {
  //padding-left: 4px;

  .my-color-icon-arrow {
    margin-left: -10px;

  }
}

.align-down-list-panel {
  width: calc(100% - 8px);
  box-shadow: 0px 6px 20px rgba(25, 25, 26, .06), 0px 2px 12px rgba(25, 25, 26, .04);;
  border-radius: 8px;
  background-color: white;
  padding: 4px;
  color: black;

  .align-down-list-panel__item {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;


    &:hover {
      background: rgba(18, 17, 42, .05);
    }

    .align-down-list-panel__item__select {
      width: 16px;
      //height: 16px;
      margin: 0 4px;
    }

    .align-down-list-panel__item__icon {
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
    }

    .align-down-list-panel__item__content {
      height: 22px;
      line-height: 22px;
      font-size: 12px;
      text-align: center;
    }
  }

  .align-down-list-panel__divider {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: rgba(18, 17, 42, .07);
  }
}


.my-style-font-wrapper {
  //color: white;
  height: 24px;
  border-radius: 5px;
  margin-right: 6px;

  .my-style-font {
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
  }

  &:hover:not(.my-icon-disabled) {
    background: var(--tool-style-highlight-bg);
  }
}

.my-style-font_arrow {
  font-size: 7px;
  width: 12px;
  height: 24px;
  line-height: 24px;
}

.my-style-font-size-wrapper {
  //tmp
  //color: white;
  height: 24px;
  border-radius: 5px;
  margin-right: 6px;

  .my-style-font-size {
    text-align: center;
    width: 45px;
    height: 24px;
    font-size: 13px;
    line-height: 24px;

    .el-input__wrapper {
      padding: 0 !important;
      border-radius: 4px 0 0 4px;

      .el-input__inner {
        height: 24px;
        line-height: 24px !important;
        text-align: center;
      }
    }
  }

  .my-style-font-size_arrows {
    .drop-arrow {

      font-size: 7px;
      width: 12px;
      height: 12px;
      line-height: 12px;

      &:hover {
        background: white;
      }
    }
  }

  &:hover:not(.my-icon-disabled) {
    background: var(--tool-style-highlight-bg);
  }
}

.my-style-divider {
  margin-right: 8px;
  height: 20px;
  width: 0;
  border-left: 1px solid #dfe2e5;
}


