:root {
  --drag-h-color: #646cff;
  //--drag-h-color: #ced0fa;
  --red-color: red;
  --switch-off-color: gray;
  --drag-h-color1: #ced0fa66;
  --bg-highlight-color: #ced0fa;
  --border-highlight-color: #e6e8eb;
  --dnb-highlight-color: #c2c3f1;
  --page-header-drop-color: #e6e9fa;
  --theme-colors: #646CFF;
  //--theme-colors: #a3a5f5;
  --20px: 20px;
  --40px: 40px;
  --60px: 60px;
  --80px: 80px;
  --100px: 100px;
  --120px: 120px;
  --140px: 140px;
  --240px: 240px;
  --header-height: 50px;

}
