:root {
  //--tcolor: white;
  --tcolor: black;
  --drag-h-color: #646cff;
  //--drag-h-color: #ced0fa;
  --drag-h-lb-color: #ced0fa;

  --icon-disable-color: #d0d2d4;
  --moveable-control: #43b102;
  --drag-edit-border-color: #43b102;

  --tool-style-highlight-bg: #eaecee;;
  --tool-style-check-bg: #dfe2e5;
  --red-color: red;
  --switch-off-color: gray;
  --drag-h-color1: #ced0fa66;
  --bg-highlight-color: #ced0fa;
  --border-highlight-color: #e6e8eb;
  --dnb-highlight-color: #c2c3f1;
  --page-header-drop-color: #e6e9fa;
  --theme-colors: #646CFF;
  //--theme-colors: #a3a5f5;
  --rotation-deg: 90;
  --20px: 20px;
  --40px: 40px;
  --60px: 60px;
  --65px: 65px;
  --66px: 66px;
  --80px: 80px;
  --100px: 100px;
  --120px: 120px;
  --140px: 140px;
  --150px: 150px;
  --160px: 160px;
  --240px: 240px;
  --header-height: 40px;
  --header-heigh1t: calc(100% - var(--header-height));
  --panel-width: calc(100% - 20px);


  --my-button-text-color: #606266;
  --my-button-font-weight: 500;
  --my-button-bg-color: #ffffff;
  --my-border: 1px solid #dcdfe6;
  --my-button-border-color: #dcdfe6;
  --my-font-size-base: 14px;
  --my-border-radius-base: 4px;
  --my-button-size: 24px;
  --my-border-color: #dcdfe6;
  --my-color-info: #909399;
  --my-fill-color-light: #f5f7fa;

  --my-button-hover-text-color: #409eff;
  --my-button-hover-border-color: #c6e2ff;
  --my-button-hover-bg-color: #ecf5ff;

  --my-scrollbar-bg-color: #909399;
  --my-text-color-secondary: #909399;

  --my-text-color-regular: #606266;
  --my-border-radius-circle: 100%;
  --my-transition-duration: .3s;
  --my-color-white: #ffffff;


  //--el-input-focus-border-color: ;
  --my-border-color-hover: #c0c4cc;
  --my-color-primary: #409eff;
  --my-text-color-placeholder: #a8abb2;

  --my-input-text-color: var(--my-text-color-regular);
  --my-input-border: var(--my-border);
  --my-input-hover-border: var(--my-border-color-hover);
  --my-input-focus-border: var(--my-color-primary);
  --my-input-transparent-border: 0 0 0 1px transparent inset;
  --my-input-border-color: var(--my-border-color);
  --my-input-border-radius: var(--my-border-radius-base);
  --my-input-bg-color: #fff;
  --my-input-icon-color: var(--my-text-color-placeholder);
  --my-input-placeholder-color: var(--my-text-color-placeholder);
  --my-input-hover-border-color: var(--my-border-color-hover);
  --my-input-clear-hover-color: var(--my-text-color-secondary);
  --my-input-focus-border-color: var(--my-color-primary);
  --my-input-width: 100%;

  --my-fill-color-blank: #fff;
  --my-text-color-primary: #303133;
  --my-border-style: 1px solid #dcdfe6;

  --my-input-inner-height: calc(var(32) - 2px);
}
