:root {
  //--tcolor: white;
  --tcolor: black;
  --drag-h-color: #646cff;
  //--drag-h-color: #ced0fa;
  --drag-h-lb-color: #ced0fa;

  --icon-disable-color: #d0d2d4;
  --moveable-control: #43b102;
  --drag-edit-border-color: #43b102;

  --tool-style-highlight-bg: #eaecee;;
  --tool-style-check-bg: #dfe2e5;
  --red-color: red;
  --switch-off-color: gray;
  --drag-h-color1: #ced0fa66;
  --bg-highlight-color: #ced0fa;
  --border-highlight-color: #e6e8eb;
  --dnb-highlight-color: #c2c3f1;
  --page-header-drop-color: #e6e9fa;
  --theme-colors: #646CFF;
  //--theme-colors: #a3a5f5;
  --rotation-deg: 90;
  --20px: 20px;
  --40px: 40px;
  --60px: 60px;
  --80px: 80px;
  --100px: 100px;
  --120px: 120px;
  --140px: 140px;
  --240px: 240px;
  --header-height: 40px;
  --header-heigh1t: calc(100% - var(--header-height));
  --panel-width: calc(100% - 20px);

}
