ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cover-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
    z-index: 100;
    overflow: auto;
    font-size: 12px;
}

.cover-wrapper .mini-map {
    width: 30vw;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfUAAAB0BAMAAABu/bbrAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURUdwTOzu/+zu/+zu/+zu/7c5qiIAAAAEdFJOUwDTWqJE0JrpAAAACXBIWXMAAABIAAAASABGyWs+AAABC0lEQVR42u3d2wnCQBRF0RttYIQUYMASbEBi/zXJCCI+8z9nnQ4Wbu7gV+oQu1bzNXXs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7A/7PpV+OVadYn/2ql1m9Wv1TanF982hxfftU4vvW1KLTzx3rZ6bUovvO4cWH3fuWr1uSS0+6pF/Kz7q3LX63Dm1+P7IpxYfc+5afd8cWnzGI/+j+Ihz137Sh/9Ps9afLanFD3/u2l/60OdurY2dUosf+ty12tyUWvy45267+Pu5G/QDiZ+7AZSlIegnY5GGAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center 4px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding-top: 8vw;
}

.cover-wrapper .mini-map .mini-map-wrap {
    position: relative;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.cover-wrapper .mini-map .loop {
    max-width: 100%;
    max-height: calc(100% - 8vw);
    pointer-events: auto;
    border: 2px solid #ee3846;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 8vw;
    opacity: 0.8;
}

.cover-wrapper .mini-map /deep/ canvas {
    display: block;
    width: 100% !important;
    height: auto !important;
    opacity: 0.4;
}

.cover-wrapper .venue-box {
    position: relative;
    height: calc(100% - 200px);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfUAAAB0BAMAAABu/bbrAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURUdwTOzu/+zu/+zu/+zu/7c5qiIAAAAEdFJOUwDTWqJE0JrpAAAACXBIWXMAAABIAAAASABGyWs+AAABC0lEQVR42u3d2wnCQBRF0RttYIQUYMASbEBi/zXJCCI+8z9nnQ4Wbu7gV+oQu1bzNXXs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7A/7PpV+OVadYn/2ql1m9Wv1TanF982hxfftU4vvW1KLTzx3rZ6bUovvO4cWH3fuWr1uSS0+6pF/Kz7q3LX63Dm1+P7IpxYfc+5afd8cWnzGI/+j+Ihz137Sh/9Ps9afLanFD3/u2l/60OdurY2dUosf+ty12tyUWvy45267+Pu5G/QDiZ+7AZSlIegnY5GGAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center 10px;
    padding-top: 22vw;
    box-sizing: border-box;
}

.cover-wrapper .venue-box::before {
    position: absolute;
    left: 0;
    right: 0;
    content: '舞台';
    font-size: 1.2em;
    color: #a3a3b3;
    display: block;
    text-align: center;
    margin-top: -15vw;
}

.cover-wrapper .venue-box .bay-number {
    pointer-events: none;
    position: absolute;
    width: 1000px;
    right: 10px;
    color: #fff;
    overflow: auto;
    height: calc(100% - 22vw);
    line-height: 23px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cover-wrapper .venue-box .bay-number::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.cover-wrapper .venue-box .bay-number .bay {
    width: 22px;
    background-color: rgba(91, 91, 91, 0.35);
    height: 23px;
    padding: 5px 0;
    line-height: 23px;
    text-align: center;
    margin-left: auto;
}

.cover-wrapper .venue-box .bay-number .bay:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cover-wrapper .venue-box .bay-number .bay:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover-wrapper .venue-box .bay-number .bay.side {
    height: 40px;
    box-sizing: border-box;
}

.cover-wrapper .venue-box .bay-number .bay.side span {
    white-space: nowrap;
    margin-left: -100px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 4px;
    border-radius: 10px;
}

.cover-wrapper .seat-wrap {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cover-wrapper .seat-wrap::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.cover-wrapper .seat-wrap,
.cover-wrapper .seat-box {
    width: 100%;
    height: 100%;
}

.cover-wrapper .seat-box {
    min-width: 100%;
}

.cover-wrapper .seat-box ul.side {
    height: 40px;
}

.cover-wrapper .seat-box li.side {
    width: 40px;
}

.cover-wrapper .rows {
    display: flex;
    justify-content: center;
}

.cover-wrapper .seat-item {
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 5px 2px;
    flex-shrink: 0;
    background-color: #fff;
}

.cover-wrapper .seat-item.checked {
    background-color: #0ec300;
    border-color: #0ec300;
}

.cover-wrapper .seat-item.unchecked {
    background-color: #fff;
    border: 1px solid #eee;
}

.cover-wrapper .seat-item.disabled {
    background-color: #dedede;
    border: 1px solid #bebebe;
}

.cover-wrapper .seat-item.solded {
    background-color: #dedede;
    border: 1px solid #bebebe;
}

.cover-wrapper .seat-item.opacity0 {
    opacity: 0;
}

.cover-wrapper .ticket-info {
    height: 200px;
}

.cover-wrapper .ticket-info .legend-wrap {
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 24px;
    color: #979797;
}

.cover-wrapper .ticket-info .legend-wrap li::before {
    content: '';
    float: left;
    width: 23px;
    height: 23px;
    border-radius: 3px;
    margin-right: 5px;
    box-sizing: border-box;
}

.cover-wrapper .ticket-info .legend-wrap li.unchecked::before {
    background-color: #fff;
    border: 1px solid #eee;
}

.cover-wrapper .ticket-info .legend-wrap li.checked::before {
    background-color: #0ec300;
    border: 1px solid #0ec300;
}

.cover-wrapper .ticket-info .legend-wrap li.solded::before {
    background-color: #dedede;
    border: 1px solid #bebebe;
}

.cover-wrapper .ticket-info .legend-wrap li.disabled::before {
    background-color: #dedede;
    border: 1px solid #bebebe;
}

.cover-wrapper .activity-wrap {
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.cover-wrapper .activity-wrap .header::after {
    content: '';
    display: block;
    clear: both;
}

.cover-wrapper .activity-wrap .header .title {
    float: left;
    font-size: 1.6em;
    color: #333;
    letter-spacing: 2px;
}

.cover-wrapper .activity-wrap .header .el-icon-arrow-down {
    float: right;
    color: #5078f8;
    font-size: 1.6em;
    transition: transform 0.15s;
}

.cover-wrapper .activity-wrap .header .el-icon-arrow-down.expand {
    transition: transform 0.2s;
    transform: rotate(180deg);
}

.cover-wrapper .activity-wrap .check-seat-wrap {
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    background-image: linear-gradient(45deg, #dedede, #dedede);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-top: 0;
    transition: all 0.2s;
}

.cover-wrapper .activity-wrap .check-seat-wrap.expand {
    max-height: 200px;
    padding-top: 16px;
}

.cover-wrapper .activity-wrap .check-seat-wrap .check-seat-scroll-wrap {
    max-height: 184px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cover-wrapper .activity-wrap .check-seat-wrap .seat-ticket {
    margin-bottom: 5px;
    min-width: calc(50% - 38px);
    position: relative;
    background-color: #f5f9fe;
    border-radius: 8px;
    padding: 4px 25px 4px 8px;
}

.cover-wrapper .activity-wrap .check-seat-wrap .seat-ticket .title {
    font-size: 1.2em;
    color: #333;
}

.cover-wrapper .activity-wrap .check-seat-wrap .seat-ticket .price {
    font-size: 1.2em;
    color: #ff8938;
    font-weight: bold;
}

.cover-wrapper .activity-wrap .check-seat-wrap .seat-ticket .el-icon-close {
    position: absolute;
    font-size: 1.6em;
    right: 4px;
    top: calc(50% - 10px);
    color: #d3d5d8;
}

.cover-wrapper .el-button--warning {
    background-color: #f98230;
    border-color: #f98230;
    color: #fff;
    display: block;
    margin: 10px 10px 20px 10px;
    width: calc(100% - 20px);
    font-weight: bold;
}

.cover-wrapper .el-button--warning[disabled="disabled"] {
    color: #f9b56e;
}